<!DOCTYPE html>
<html lang="en">

<head>
    <title>MathCollab</title>
    <link href="css/landing-page.css" rel="stylesheet">
    <% include ../partials/head %>
</head>

<body>

    <% include ../partials/nav %>

    <div class="container">
        <div class="row">
            <h3>Editor</h3>
            <textarea class='mathdoxformula'></textarea>
        </div>
    </div>
</body>