.lead {
    font-size: 18px;
    font-weight: 400;
}

.intro-header {
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url(../img/intro-bg.jpg) no-repeat center center;
    background-size: cover;
}

.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
    }

    .intro-message > h1 {
        font-size: 3em;
    }

    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    .intro-divider {
        width: 100%;
    }
      .fa-container {
        padding-top: 36px;
    }
    .fa-container > .fa-5 {
        font-size: 8em;
        margin-right: 26px;
        vertical-align: middle;
    }
    .fa-container > .fa-5.fa-pencil-square-o {
        font-size: 12em;
        padding-top: 20px;
    }
     .fa-container > .fa-5.fa-desktop {
        font-size: 8em;
        padding-top: 40px;
    }
    .fa-container > .fa-5.fa-cloud {
        margin-right: 0;
        font-size: 11em;
        padding-top: 20px;
    }
    .fa-container > .fa-5.fa-exchange {
        font-size: 8em;
        padding-top: 20px;
    }
    .fa-container > .fa-5.fa-group {
        font-size: 8em;
    }
}

.network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

.content-section-a {
    padding: 50px 0;
    background-color: #f8f8f8;
}

.content-section-b {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.section-heading {
    margin-bottom: 30px;
    width: 340px;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

.banner {
    padding: 100px 0;
    color: #f8f8f8;
    background: url(../img/banner-bg.jpg) no-repeat center center;
    background-size: cover;
}

.banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 3em;
}

.banner ul {
    margin-bottom: 0;
}

.banner-social-buttons {
    float: right;
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        float: left;
        margin-top: 15px;
    }
   

}

@media(max-width:767px) {
    .banner h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        font-size: 3em;
    }

    ul.banner-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons > li:last-child {
        margin-bottom: 0;
    }
}

@media (min-width: 767px) {
       .fa-container {
        padding-top: 36px;
    }
    .fa-container > .fa-5 {
        font-size: 7.5em;
        margin-right: 26px;
        vertical-align: middle;
    }
    .fa-container > .fa-5.fa-pencil-square-o {
        font-size: 10em;
        padding-top: 20px;
    }
     .fa-container > .fa-5.fa-desktop {
        font-size: 6em;
        padding-top: 40px;
    }
    .fa-container > .fa-5.fa-cloud {
        margin-right: 0;
        font-size: 7em;
        padding-top: 20px;
    }
    .fa-container > .fa-5.fa-exchange {
        font-size: 6em;
        padding-top: 20px;
    }
    .fa-container > .fa-5.fa-group {
        font-size: 7em;
    }
}

@media(min-width: 1200px) {

    .fa-container {
        padding-top: 36px;
    }
    .fa-container > .fa-5 {
        font-size: 12em;
        margin-right: 26px;
        vertical-align: middle;
    }
    .fa-container > .fa-5.fa-pencil-square-o {
        font-size: 15em;
        padding-top: 20px;
    }
     .fa-container > .fa-5.fa-desktop {
        font-size: 10em;
        padding-top: 40px;
    }
    .fa-container > .fa-5.fa-cloud {
        margin-right: 0;
        font-size: 11em;
        padding-top: 20px;
    }
    .fa-container > .fa-5.fa-exchange {
        font-size: 10em;
        padding-top: 20px;
    }
    .fa-container > .fa-5.fa-group {
        font-size: 10em;
    }
}
